In [3]:
dict_1 = {
    "name" : "kaoswer ahamed",
    "ID" : "032021049",
    "Home": "Lakshmiput",
    "age" :22,
}

In [4]:
print(dict_1.keys())

dict_keys(['name', 'ID', 'Home', 'age'])

In [8]:
print(dict_1.values())

dict_values(['kaoswer ahamed', 32021049, 'Lakshmiput', 22])

In [9]:
dict_2 = dict_1.copy()
dict_2

{'name': 'kaoswer ahamed', 'ID': 32021049, 'Home': 'Lakshmiput', 'age': 22}

In [14]:
#update or assign value

dict_2["name"] = "sojeeb ahamed"
dict_2

dict_2.update({'age': 23})
dict_2

{'name': 'sojeeb ahamed', 'ID': 32021049, 'Home': 'Lakshmiput', 'age': 23}

In [16]:
# accessing using loop


for values in dict_2.values():
    print(values)

sojeeb ahamed
32021049
Lakshmiput
23

In [17]:
for key in dict_2.keys():
    print(key)

name
ID
Home
age

In [27]:
# create dictionary using dict constructor
d = dict(a = "apple", b="bannena", c ="goava")
d

{'a': 'apple', 'b': 'bannena', 'c': 'goava'}

In [28]:
# Adding new value

d["d"]="orange"
d

{'a': 'apple', 'b': 'bannena', 'c': 'goava', 'd': 'orange'}

In [29]:
#accessing all items with key
for key, value in d.items():
    print(f"{key}:{value}")

a:apple
b:bannena
c:goava
d:orange

In [33]:
# take dictionary as input from user in run time

n = int(input("How many items do you want to inpur: "))

D={}

for i in range(n):
    ky = input("Enter the key: ")
    val = input("Enter the value: ")
    D[ky] = val

print(D)

How many items do you want to inpur:  2
Enter the key:  name
Enter the value:  kasower ahamed
Enter the key:  sldfj
Enter the value:  nonon

{'name': 'kasower ahamed', 'sldfj': 'nonon'}

{'a': 'apple',
 'b': 'bannena',
 'c': 'goava',
 'd': 'orange',
 'name': 'kaoswer ahamed',
 'status': 'unmarried'}

In [1]:
product_info = {}

for i in range(3):
    key = input("Enter product ID: ")
    val = input("Enter product name: ")
    product_info[key]=val
print(product_info)

Enter product ID:  3044
Enter product name:  chips
Enter product ID:  45434
Enter product name:  skdfjgsk
Enter product ID:  4543
Enter product name:  dkfjgs

{'3044': 'chips', '45434': 'skdfjgsk', '4543': 'dkfjgs'}

In [6]:
d1 = {1:"sojeeb", 2:"kaoswer", 3:"ahamed"}
d2 ={4:"sojeeb2",5:"kaoswer2", 6:"ahamed2"}
d3={7:"Jr sojeeb", 8: "Jr kaoswer", 9: "Jr ahamed"}
d4={}

for data in (d1,d2,d3):d4.update(data)
print(d4)

# other way

d5 = {**d1,**d2,**d3}
print(d5)

# other method using union operator '|'

d6 = d1| d2|d3
print(d6)

{1: 'sojeeb', 2: 'kaoswer', 3: 'ahamed', 4: 'sojeeb2', 5: 'kaoswer2', 6: 'ahamed2', 7: 'Jr sojeeb', 8: 'Jr kaoswer', 9: 'Jr ahamed'}
{1: 'sojeeb', 2: 'kaoswer', 3: 'ahamed', 4: 'sojeeb2', 5: 'kaoswer2', 6: 'ahamed2', 7: 'Jr sojeeb', 8: 'Jr kaoswer', 9: 'Jr ahamed'}
{1: 'sojeeb', 2: 'kaoswer', 3: 'ahamed', 4: 'sojeeb2', 5: 'kaoswer2', 6: 'ahamed2', 7: 'Jr sojeeb', 8: 'Jr kaoswer', 9: 'Jr ahamed'}

In [8]:
sq={}
for i in range(1,16):
    sq[i]=i**2
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}